<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>

  <body>
    <header>
      <%- include('./partials/nav'); %>
    </header>

    <main>
        <div id="content" class="container overflow-hidden" style="min-height: 63vh;">
            <div class="my-lg-5 d-flex align-items-center flex-column">
                <h2 class="fw-bold">Your subscription has been recorded!</h2>
                <h2 class="fw-bold pt-xxl-4">You will make payment when you receive your card!</h2>
            </div>
        </div>
    </main>

    <footer>
      <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>